body{background-color: #e3e3e3; height:100vh;}

.map { height: calc(100vh - 64px ) }

#modalwelcome{height: 50vh;}

#welcome-cravo {
    height: 30vh;
    background: url(../images/cravo.pn);
    background-repeat: no-repeat;
    background-size: contain;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Roboto Slab', serif; font-weight: 400;}

.brand-logo {margin-left: 10px;}


