body{background-color: #e3e3e3; height:100vh;}

.map { height: calc(100vh - 64px ) }

#modalwelcome{height: 50vh;}

#welcome-cravo {
    height: 50vh;
    background: url(../images/carnation_928345_c.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: red;
}

#welcome-title {
    font-family: 'Roboto Slab', serif; font-weight: 900;font-size: 5rem;
}
.serif{
    font-family: 'Roboto Slab', serif; font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Roboto Slab', serif; font-weight: 400;}

.brand-logo {margin-left: 10px; font-family: 'Roboto Slab', serif; font-weight: 900;}


.introcopyright{padding: 1em 1em 4px 6px !important; font-size: 0.8rem;
    position: absolute;
    bottom: 0;
}
.modal.modal-fixed-footer .modal-footer {
    border-top: 0px solid rgba(0,0,0,0.1);
    position: absolute;
    bottom: 0;
  }